html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  font-family: "Courier New";
  background-size: 100% 900%;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
  linear-gradient(to left, white 10px, transparent 10px),
  repeating-linear-gradient(
    white,
    white 24px,
    #cccccc 24px,
    #cccccc 25px,
    white 25px
  );
}

#root {
  height: 100%;
  width: 100%;
}
